:root {
  scrollbar-color: var(--color-primario) var(--color-fondo);
  scrollbar-width: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
